XTerm.termName: xterm-256color

XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.bellIsUrgent: true

! Set xterm window size
XTerm*VT100.geometry: 80x24

! Set font and fontsize
XTerm*faceName: MesloLGM Nerd Font Mono
XTerm*faceSize: 13

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48


! VT Font Menu: Unreadable
XTerm*faceSize1: 8
! VT Font Menu: Tiny
XTerm*faceSize2: 10
! VT Font Menu: Small
XTerm*faceSize3: 12
! VT Font Menu: Medium
XTerm*faceSize4: 16
! VT Font Menu: Large
XTerm*faceSize5: 22
! VT Font Menu: Huge
XTerm*faceSize6: 24

! Scrollbar
XTerm*vt100.scrollBar: false

! Do not scroll when there is new input
XTerm*scrollTtyOutput: false

! Lines of output you can scroll back over
XTerm*saveLines: 15000

! Enable copy/paste hotkeys (mouse highlight = copy, shift+Insert = paste)
XTerm*selectToClipboard: true

! Select text
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: true

! Keybindings
XTerm*vt100.translations: #override \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl <Key>0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl <Key> M:  scroll-to(begin) \n\
  Ctrl <Key> L:   scroll-to(end)

! GNOME Terminal color palette
XTerm*background: #1C1C1C
XTerm*foreground: #DADADA

! black
XTerm*color0  : #2E3436
XTerm*color8  : #555753

! red
XTerm*color1  : #CC0000
XTerm*color9  : #EF2929

! green
XTerm*color2  : #4E9A06
XTerm*color10 : #8AE234

! yellow
XTerm*color3  : #C4A000
XTerm*color11 : #FCE94F

! blue
XTerm*color4  : #3465A4
XTerm*color12 : #729FCF

! magenta
XTerm*color5  : #75507B
XTerm*color13 : #AD7FA8

! cyan
XTerm*color6  : #06989A
XTerm*color14 : #34E2E2

! white
XTerm*color7  : #D3D7CF
XTerm*color15 : #EEEEEC

